.Modal {
    position: fixed;
    inset: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    color: var(--primary-color);
    transition: opacity 0.3s, z-index 0.3s;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
}

.content {
    max-width: 60%;
    padding: 24px;
    border-radius: var(--border-radius);
    background: var(--bg-color);
    transform: scale(0.5);
    transition: transform 0.3s ease;
}

.opened {
    z-index: var(--modal-z-index);
    opacity: 1;
    pointer-events: auto;

    .content {
        transform: scale(1);
    }
}

.closed {
    z-index: var(--modal-z-index);
    opacity: 0;
    pointer-events: none;

    .content {
        transform: scale(0.2);
    }
}