.Button {
    color: var(--primary-color);
    cursor: pointer;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    padding: 10px 12px;
    border: 1.5px solid var(--primary-color);
    border-radius: 8px;
    background: none;
}
