.Sidebar {
  background: var(--sidebar-bg-color);
  width: var(--sidebar-width);
  height: var(--sidebar-height);
  position: relative;
  transition: width 0.4s ease;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  width: 100%;
  display: flex;
  flex-direction: column;
  bottom: 24px;
  position: absolute;
  justify-content: center;
}
