.Sidebar {
    position: relative;
    width: var(--sidebar-width);
    height: var(--sidebar-height);
    background: var(--sidebar-bg-color);
    transition: width 0.4s ease;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    position: absolute;
    bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
