.Wrapper {
    position: relative;
    display: flex;
}

.label {
    position: absolute;
    top: 18%;
    left: 6px;
    display: inline-block;
    margin: 0 4px;
    color: var(--primary-color);
    font-size: 12px;
    transition: all 0.3s ease;
    transform: translateY(-50%);
}

.select {
    height: 50px;
    padding: 8px 10px 8px 6px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background: none;
    color: var(--primary-color);
    outline: none;
}

.select:hover,
.select:focus {
    background: var(--sidebar-bg-color);
}

.readonly {
    opacity: 0.6;

    .select:hover,
    .select:focus {
        background: none;
    }
}
