.app.dark {
    --bg-color: rgb(9 15 17 / 100%);
    --inverted-bg-color: #fbfbfb;
    --navbar-bg-color: rgb(9 15 17 / 100%);
    --sidebar-bg-color: rgb(21 28 31 / 100%);
    --primary-color: #3cff3c;
    --secondary-color: #97ff97;
    --inverted-primary-color: #467fff;
    --inverted-secondary-color: #6899ff;
}
