.app.dark {
    --bg-color: #0e0e11;
    --inverted-bg-color: #fbfbfb;
    --navbar-bg-color: #050505;
    --sidebar-bg-color: #050505;
    --primary-color: #3cff3c;
    --secondary-color: #97ff97;
    --inverted-primary-color: #467fff;
    --inverted-secondary-color: #6899ff;
}
