.app_light_theme {
    --bg-color: #fbfbfb;
    --inverted-bg-color: #0e0e11;
    --navbar-bg-color: #fbfbfb;
    --sidebar-bg-color: rgb(226 238 241 / 100%);
    --primary-color: #467fff;
    --secondary-color: #6899ff;
    --inverted-primary-color: #3cff3c;
    --inverted-secondary-color: #97ff97;
}
