.app_light_theme {
    --bg-color: rgba(239, 245, 246, 1);
    --inverted-bg-color: rgba(12, 18, 20, 1);
    --navbar-bg-color: rgba(239, 245, 246, 1);
    --sidebar-bg-color: rgba(226, 238, 241, 1);
    --primary-color: rgba(94, 211, 243, 1);
    --secondary-color: #6899ff;
    --inverted-primary-color: rgba(108, 217, 139 / 100%);
    --inverted-secondary-color: #97ff97;
}
