.app.light {
    --bg-color: #fbfbfb;
    --inverted-bg-color: #0e0e11;
    --navbar-bg-color: #e3e2e2;
    --sidebar-bg-color: #e3e2e2;
    --primary-color: #467fff;
    --secondary-color: #6899ff;
    --inverted-primary-color: #3cff3c;
    --inverted-secondary-color: #97ff97;
}
