.app_light_theme {
    --bg-color: rgb(239 245 246 / 100%);
    --inverted-bg-color: rgb(12 18 20 / 100%);
    --navbar-bg-color: rgb(239 245 246 / 100%);
    --sidebar-bg-color: rgb(226 238 241 / 100%);
    --primary-color: rgb(94 211 243 / 100%);
    --secondary-color: #6899ff;
    --inverted-primary-color: rgb(108 217 139 / 100%);
    --inverted-secondary-color: #97ff97;
    --text-color: dark;
    --profile-card-color: rgb(255 255 255 / 100%);
    --code-bg: rgb(226 238 241 / 100%);
    --skeleton-color: rgb(204 227 233);
    --skeleton-shadow: rgba(0 0 0 / 20%);
}
