.app_orange_theme {
    --bg-color: #f0c048;
    --inverted-bg-color: rgb(12 18 20 / 100%);
    --navbar-bg-color: #f0c048;
    --sidebar-bg-color: #f2d791;
    --primary-color: black;
    --secondary-color: white;
    --inverted-primary-color: white;
    --inverted-secondary-color: black;
    --text-color: dark;
    --profile-card-color: #fff3d6;
    --skeleton-color: #f2d791;
    --skeleton-shadow: rgba(0 0 0 / 20%);
}
