.Navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    padding: 24px;
    background-color: var(--navbar-bg-color);
}

.links {
    margin-left: auto;
}
