.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  display: flex;
  align-items: center;
  padding: 24px;
}

.links {
  margin-left: auto;
}

.mainLink {
  margin-right: 16px;
}