.ShowNotification {
    overflow-y: auto;
    min-height: 100px;
    max-height: 400px;
    width: 500px;
}

.ShowNotificationMobile {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
    min-height: 100px;
    max-height: calc(50vh + 100px);
    width: 100%;
    padding: 8px;
}
