.ProfileCard {
    padding: 24px;
    border-radius: var(--border-radius);
    background: var(--profile-card-color);
}

.header {
    display: flex;
}

.editBtn {
    margin-left: auto;
}

.data {
    gap: 24px;
}

.input {
    margin-top: 16px;
}
