.ProfileCard {
    border-radius: var(--border-radius);
    background: var(--profile-card-color);
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px 8px;
    border-radius: var(--border-radius);
    background: var(--sidebar-bg-color);
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px 8px;
}

.input {
    margin-bottom: 16px;
}

.loading,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
