.Card {
    border-radius: var(--border-radius);
    padding: 16px;
}

.primary {
    background: var(--card-bg);
}

.outlined {
    border: 1px solid var(--primary-color);
}

.max {
    width: 100%;
}
