name: linting, testing, building
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  pipeline:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ '18.x', '20.x', '22.x' ]

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: install modules
        uses: npm install
      - name: building production project
        uses: npm run build:prod
      - name: linting typescript
        uses: npm run lint:ts
      - name: linting css
        uses: npm run lint:css
      - name: unit testing
        uses: npm run test:unit
